.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

body {
    padding-bottom: 30px;
    min-width: 970px;
}

ul.nav.nav-tabs.nav-justified {
    padding-bottom: 10px;
}

.bf-back-color {
    background: #72bbef;
}

.bf-back-header {
    border-bottom: 2px solid #72bbef;
}

.bf-lay-color {
    background: #faa9ba
}

.bf-lay-header {
    border-bottom: 2px solid #faa9ba;
}

.runner {
    margin-left: 1px;
    margin-right: 1px;
}

.runner .outline-left {
    border-left: solid rgb(224, 230, 230) 1px;
}

.runner .outline-right {
    border-right: solid rgb(224, 230, 230) 1px;
}

.runner.last .price-square {
    border-bottom: solid rgb(224, 230, 230) 1px;
}

.price-square .price {
    font-size:medium;
    line-height:24px;
}

.price-square .size {
    font-weight: normal;
    font-size: small;
    line-height:12px
}

.price-square {
    border-left: solid white 1px;
    border-right: solid white 1px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    line-height: 20px;
    font-weight: bold;
    min-height: 40px;
    max-height: 40px;
}

.bf-price {
    border-right: solid white 10px;
    font-weight: 400 !important;
}

.bf-market-price-filled-square {
    border-left: solid white 1px;
    border-right: solid white 1px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    cursor: pointer;
}

.bf-market-price-empty-square {
    border: solid rgb(224, 230, 230) 1px;
    line-height: 19px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    cursor: pointer;
}



.selected-item {
    background-color: rgb(39,58,71);
    color: white;
    margin-left: -5px;
    margin-right: -5px;
    padding-left: 5px;
    padding-right: 5px;
}


.suspended {
    opacity: 0.3;
    cursor: default;
}

.inplay {
    color: #009900;
}

.last-price-traded {
    background-color:yellow;
    opacity:0.5;
}

footer {
    text-align: center;
}