@(javascripts: Seq[String])
<!doctype html>
<html lang="en" ng-app="myLadder">
    <head>
        <meta charset="utf-8">
        <title>Ladder</title>
        <!-- Latest compiled and minified Bootstrap CSS -->
        <link rel="stylesheet" href='@routes.Assets.versioned("lib/bootstrap/css/bootstrap.css")'>
        <link rel="stylesheet" href='@routes.Assets.versioned("lib/bootstrap/css/bootstrap-theme.css")'>
        <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("stylesheets/ladder.css")'>
    </head>
    <body>
        <div class="container-fluid">
            <!-- Content -->
            <div class="row">
                <div ui-view></div>
            </div>
        </div>
    </body>

    <footer>
    </footer>

    <script src='@routes.Assets.versioned("lib/angularjs/angular.js")' type="text/javascript"></script>
    <script src='@routes.Assets.versioned("lib/angular-ui-bootstrap/ui-bootstrap-tpls.js")' type="text/javascript"></script>
    <script src='@routes.Assets.versioned("lib/angular-ui-router/angular-ui-router.min.js")' type="text/javascript"></script>

    <!-- Coffee script compiled resources (generated) -->
    @for(script <- javascripts) {
      <script src='@routes.Assets.versioned(script)' type="text/javascript"></script>
    }
</html>