<div>
    <!-- Nav bar -->
    <div class="row bf-tabs">
        <ul>
            <li ng-repeat="tab in main.tabs">
                <a ng-class="{true:'active', false:''}[main.selected == tab.name]" ng-click="main.select(tab.name, tab.state)">{{tab.display}}</a>
            </li>
        </ul>
    </div>
    <!-- Content -->
    <div class="row">
        <div class="col-xs-3" ui-view="navigation"></div>
        <div class="col-xs-6" ui-view="detail"></div>
        <div class="col-xs-3" ui-view="position"></div>
    </div>
</div>
