<div class="bf-strategy-modal container-fluid">
    <form name="strategyForm" class="form-horizontal">
        <div class="modal-header">
            <div class="col-xs-12 heading">Action Strategy - {{mod.catalogue.runnerName}}</div>
        </div>
        <div class="modal-body">
            <div class="row price-row">
                <div class="col-xs-1 col-xs-offset-1 price-square bf-back-color" ng-class="{'SUSPENDED':'suspended'}[bookData[mod.marketId].status]">
                    <div class="price">{{mod.bookData[mod.marketId].runners[mod.catalogue.uniqueId].ex.availableToBack[0].price}}</div>
                    <div class="size">{{mod.bookData[mod.marketId].runners[mod.catalogue.uniqueId].ex.availableToBack[0].size | sizeFilter}}</div>
                </div>
                <div class="col-xs-1 price-square bf-lay-color" ng-class="{'SUSPENDED':'suspended'}[bookData[mod.marketId].status]">
                    <div class="price">{{mod.bookData[mod.marketId].runners[mod.catalogue.uniqueId].ex.availableToLay[0].price}}</div>
                    <div class="size">{{mod.bookData[mod.marketId].runners[mod.catalogue.uniqueId].ex.availableToLay[0].size | sizeFilter}}</div>
                </div>
                <label class="col-xs-5 col-xs-offset-1">Market Start Time: {{mod.marketCatalogue[mod.marketId].marketStartTime | dateFilter}}</label>
            </div>
            <br>
            <div class="modal-footer"></div>
            <div class="row">
                <div class="form-group">
                    <div class="col-xs-6 col-xs-offset-3">
                        <div class="btn-group">
                            <label class="btn bf-back-color" ng-class="{'BACK': 'bf-selected'}[mod.data.startSide]" ng-model="mod.data.startSide" uib-btn-radio="'BACK'">Back First</label>
                            <label class="btn bf-lay-color" ng-class="{'LAY': 'bf-selected'}[mod.data.startSide]" ng-model="mod.data.startSide" uib-btn-radio="'LAY'">Lay First</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="orderSize" class="col-xs-3 control-label">Order Size</label>
                    <div class="col-xs-3">
                        <input type="number" class="form-control" id="orderSize" name="orderSize" placeholder="Order Size" ng-model="mod.data.size"  required min="2" step="0.01">
                    </div>
                    <div class="col-xs-4 col-xs-offset-2">
                        <div ng-messages="strategyForm.orderSize.$error" role="alert" class="text-danger">
                            <div ng-message="required">Order Size required</div>
                            <div ng-message="min">Order Size must be >= 2</div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="layPrice" class="col-xs-3 control-label">Lay Price</label>
                    <div class="col-xs-3">
                        <input type="number" class="form-control" id="layPrice" name="layPrice" placeholder="Lay Price"
                               ui-validate="'mod.isPriceValid($value)'" ng-model="mod.data.layPrice" required min="1.01" max="1000" step="0.01">
                    </div>
                    <div class="col-xs-2">
                        <label class="btn btn-primary btn-xs" ng-click="mod.snapPriceDown('layPrice')"><span class="glyphicon glyphicon-menu-down"></span></label>
                        <label class="btn btn-primary btn-xs" ng-click="mod.snapPriceUp('layPrice')"><span class="glyphicon glyphicon-menu-up"></span></label>
                    </div>
                    <div class="col-xs-4">
                        <div ng-messages="strategyForm.layPrice.$error" role="alert" class="text-danger">
                            <div ng-message="validator">Lay Price is invalid</div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="backPrice" class="col-xs-3 control-label">Back Price</label>
                    <div class="col-xs-3">
                        <input type="number" class="form-control" id="backPrice" name="backPrice" placeholder="Back Price"
                               ui-validate="'mod.isPriceValid($value)'" ng-model="mod.data.backPrice" required min="1.01" max="1000">
                    </div>
                    <div class="col-xs-2">
                        <label class="btn btn-primary btn-xs" ng-click="mod.snapPriceDown('backPrice')"><span class="glyphicon glyphicon-menu-down"></span></label>
                        <label class="btn btn-primary btn-xs" ng-click="mod.snapPriceUp('backPrice')"><span class="glyphicon glyphicon-menu-up"></span></label>
                    </div>
                    <div class="col-xs-4">
                        <div ng-messages="strategyForm.backPrice.$error" role="alert" class="text-danger">
                            <div ng-message="validator">Back Price is invalid</div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="stopPrice" class="col-xs-3 control-label">Stop Price</label>
                    <div class="col-xs-3">
                        <input type="number" class="form-control" id="stopPrice" name="stopPrice" placeholder="Stop Price"
                               ui-validate="'mod.isPriceValid($value)'" ng-model="mod.data.stopPrice" required min="1.01" max="1000">
                    </div>
                    <div class="col-xs-2">
                        <label class="btn btn-primary btn-xs" ng-click="mod.snapPriceDown('stopPrice')"><span class="glyphicon glyphicon-menu-down"></span></label>
                        <label class="btn btn-primary btn-xs" ng-click="mod.snapPriceUp('stopPrice')"><span class="glyphicon glyphicon-menu-up"></span></label>
                    </div>
                    <div class="col-xs-4">
                        <div ng-messages="strategyForm.stopPrice.$error" role="alert" class="text-danger">
                            <div ng-message="validator">Stop Price is invalid</div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer"></div>
                <div class="form-group">
                    <label for="startTime" class="col-xs-3 control-label">Start Time</label>
                    <div class="col-xs-3">
                        <input ng-disabled="mod.disabled.startTime" type="time" step="1" class="form-control" id="startTime" placeholder="Start Time" ng-model="mod.data.startTime">
                    </div>
                    <div class="col-xs-2">
                        <label class="btn btn-primary btn-xs" ng-click="mod.enable('startTime')">On</label>
                        <label class="btn btn-danger btn-xs" ng-click="mod.disable('startTime')">Off</label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="stopTime" class="col-xs-3 control-label">Stop Time</label>
                    <div class="col-xs-3">
                        <input ng-disabled="mod.disabled.stopTime" type="time" step="1" class="form-control" id="stopTime" placeholder="Stop Time" ng-model="mod.data.stopTime">
                    </div>
                    <div class="col-xs-2">
                        <label class="btn btn-primary btn-xs" ng-click="mod.enable('stopTime')">On</label>
                        <label class="btn btn-danger btn-xs" ng-click="mod.disable('stopTime')">Off</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-disabled="mod.isFormInvalid()" ng-click="mod.ok()">Submit</button>
            <button class="btn btn-default" type="button" ng-click="mod.cancel()">Cancel</button>
        </div>
    </form>
</div>