<head>
    <title>{{ladder.catalogueData[ladder.$stateParams.marketId].event.name}}</title>
</head>

<div class="row" style="margin-left:0px">

    <div class="col-xs-5">
        <div class="row">
            <div class="col-xs-9">
                <div class="row">
                    <label class="col-xs-3">Event</label>
                    <span class="col-xs-9">{{ladder.catalogueData[ladder.$stateParams.marketId].event.name}}</span>
                </div>
                <div class="row">
                    <label class="col-xs-3">Market</label>
                    <span class="col-xs-9">{{ladder.catalogueData[ladder.$stateParams.marketId].marketName}}</span>
                </div>
                <div class="row">
                    <label class="col-xs-3">Runner</label>
                    <span class="col-xs-9">{{ladder.catalogue.runnerName}}</span>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="row">
                    <span class="col-xs-12">{{ladder.getRunner().status}}</span>
                </div>
                <div class="row">
                    <span ng-if="ladder.getRunner().inplay"> Inplay</span>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-xs-3"></div>
            <div class="col-xs-9">
                <div class="row">
                    <span class="col-xs-4 text-right bf-back-header">
                        {{ladder.getRunner().weightOfMoney.backPer | number:2}}%
                    </span>
                        <button type="button" ng-click="ladder.scrollUp()" style="margin-bottom:2px"
                                class="btn btn-default bf-btn col-xs-2 glyphicon glyphicon-menu-up"></button>
                    <span class="col-xs-4 text-left bf-lay-header">
                        {{ladder.getRunner().weightOfMoney.layPer | number:2}}% :
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3">
                <div class="row text-center" style="padding-left:2px;padding-right:2px">
                    <span class="col-xs-12">Backed</span>
                    <span class="col-xs-12">{{ladder.getRunner().position.sumBacked}} @ {{ladder.getRunner().position.avgPriceBacked}}</span>
                    <span class="col-xs-12">Laid</span>
                    <span class="col-xs-12">{{ladder.getRunner().position.sumLaid}} @ {{ladder.getRunner().position.avgPriceLaid}}</span>
                    <span class="PnL text-left"></span>
                    <span class="col-xs-12">Win PnL</span>
                    <span class="col-xs-12">{{ladder.getRunner().position.winPnL}}</span>
                    <span class="col-xs-12">Lose PnL</span>
                    <span class="col-xs-12">{{ladder.getRunner().position.losePnL}}</span>
                    <span class="col-xs-12">Cash Out</span>
                    <span class="col-xs-12">{{ladder.getRunner().hedgeStake}}</span>
                    <span class="col-xs-12">{{ladder.getRunner().hedge}}</span>
                    <span class="col-xs-12">Matched</span>
                    <span class="col-xs-12">{{ladder.getRunner().totalMatched}}</span>
                    <input type="number" ng-model="ladder.orderSize" min="0" class="text-center col-xs-12"/>
                    <button type="button" ng-click="ladder.setOrderSize(2)" class="btn btn-default bf-btn col-xs-6">2</button>
                    <button type="button" ng-click="ladder.setOrderSize(5)" class="btn btn-default bf-btn col-xs-6">5</button>
                    <button type="button" ng-click="ladder.setOrderSize(10)" class="btn btn-default bf-btn col-xs-6">10</button>
                    <button type="button" ng-click="ladder.setOrderSize(20)" class="btn btn-default bf-btn col-xs-6">20</button>
                    <button type="button" ng-click="ladder.setOrderSize(50)" class="btn btn-default bf-btn col-xs-6">50</button>
                    <button type="button" ng-click="ladder.setOrderSize(100)" class="btn btn-default bf-btn col-xs-6">100</button>
                    <button type="button" ng-click="ladder.setOrderSize(0)" class="btn btn-default bf-btn col-xs-12">Clear</button>
                </div>
            </div>
            <div class="col-xs-9">
                <div class="row" style="border-top: solid rgb(224, 230, 230) 1px" ng-repeat="price in ladder.prices">
                    <div class="col-xs-2 bf-ladder-square" ng-click="ladder.cancelBuy(price)">
                        <div class="bf-price-font">{{ladder.getRunner().ladder[price].ordersToLay | orderFilter}}</div>
                    </div>
                    <div class="col-xs-2 bf-ladder-square bf-back-color" ng-click="ladder.buy(price, ladder.orderSize)">
                        <div class="bf-price-font">{{ladder.getRunner().ladder[price].sizeToLay | sizeFilter}}</div>
                    </div>
                    <div class="col-xs-2 bf-ladder-square"
                         ng-class="{true: 'last-price-traded'}[ladder.getRunner().lastPriceTraded == price]">
                        <div class="bf-price-font">{{price}}</div>
                    </div>
                    <div class="col-xs-2 bf-ladder-square bf-lay-color" ng-click="ladder.sell(price, ladder.orderSize)">
                        <div class="bf-price-font">{{ladder.getRunner().ladder[price].sizeToBack  | sizeFilter}}</div>
                    </div>
                    <div class="col-xs-2 bf-ladder-square" ng-click="ladder.cancelSell(price)">
                        <div class="bf-price-font">{{ladder.getRunner().ladder[price].ordersToBack | orderFilter}}</div>
                    </div>
                    <div class="col-xs-2 bf-ladder-square">
                        <div class="bf-price-font">{{ladder.getRunner().ladder[price].tradedVolume | sizeFilter}}</div>
                    </div>
                </div>
                <div class="row" style="border-top: solid rgb(224, 230, 230) 1px">
                    <button type="button" ng-click="ladder.scrollDown()" class="btn btn-default bf-btn col-xs-offset-4 col-xs-2 glyphicon glyphicon-menu-down"></button>
                </div>
            </div>
        </div>
    </div>
</div>

