<div class="row bf-ladder">
    <div class="col-xs-12 text-center heading">{{ladder.catalogueData[ladder.$stateParams.marketId].marketName}} - {{ladder.getRunnerCatalogue().runnerName}}</div>
    <div class="col-xs-12 text-center entry">
        <div class="pull-left">
            Start Time: {{ladder.catalogueData[ladder.$stateParams.marketId].marketStartTime | dateFilter}}
            &nbsp
            <span class="" ng-if="ladder.getRunner().inplay"> inplay</span>
        </div>
        <div class="pull-right">{{ladder.getRunner().status}}</div>
    </div>
    <div class="col-xs-12 text-center position entry" ng-click="ladder.togglePosition()">
        <div class="row">
            <div class="col-xs-3 text-left">PnL</div>
            <div class="col-xs-4 text-left">Win: {{ladder.getRunner().position.winPnL}}</div>
            <div class="col-xs-4 text-left">Lose: {{ladder.getRunner().position.losePnL}}</div>
            <i class="col-xs-1 pull-right glyphicon" ng-class="{true:'glyphicon-triangle-top', false:'glyphicon-triangle-bottom'}[ladder.isPositionOpen]"></i>
        </div>
    </div>
    <div ng-if="ladder.isPositionOpen">
        <div class="col-xs-12 entry">
            <div class="row">
                <div class="col-xs-6 column">&nbsp</div>
                <div class="col-xs-3 column">Vol</div>
                <div class="col-xs-3">Price</div>
            </div>
        </div>
        <div class="col-xs-12 entry">
            <div class="row">
                <div class="col-xs-6 column">Backed</div>
                <div class="col-xs-3 column">{{ladder.getRunner().position.sumBacked}}</div>
                <div class="col-xs-3">{{ladder.getRunner().position.avgPriceBacked}}</div>
            </div>
        </div>
        <div class="col-xs-12 entry">
            <div class="row">
                <div class="col-xs-6 column">Laid</div>
                <div class="col-xs-3 column">{{ladder.getRunner().position.sumLaid}}</div>
                <div class="col-xs-3">{{ladder.getRunner().position.avgPriceLaid}}</div>
            </div>
        </div>
        <div class="col-xs-12 entry">
            <div class="row">
                <div class="col-xs-6 column">To Cash Out</div>
                <div class="col-xs-3 column">{{ladder.getRunner().hedgeStake}}</div>
                <div class="col-xs-3 column">{{ladder.getRunner().hedge}}</div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 entry size">
        <div>Size</div>
        <input class="form-control" ng-model="ladder.orderSize" placeholder="size" id="size">
        <label class="btn btn-default btn-xs" ng-click="ladder.setOrderSize(2)">2</label>
        <label class="btn btn-default btn-xs" ng-click="ladder.setOrderSize(5)">5</label>
        <label class="btn btn-default btn-xs" ng-click="ladder.setOrderSize(10)">10</label>
        <label class="btn btn-default btn-xs" ng-click="ladder.setOrderSize(20)">20</label>
        <label class="btn btn-default btn-xs" ng-click="ladder.setOrderSize(50)">50</label>
        <label class="btn btn-default btn-xs" ng-click="ladder.setOrderSize(100)">100</label>
    </div>
    <div class="col-xs-12 ladder-scroll">
        <span class="col-xs-4 text-right bf-back-header">{{ladder.getRunner().weightOfMoney.backPer | number:2}}%</span>
        <label ng-click="ladder.scrollUp()" class="btn btn-default btn-xs col-xs-2 glyphicon glyphicon-menu-up"></label>
        <span class="col-xs-4 text-left bf-lay-header">{{ladder.getRunner().weightOfMoney.layPer | number:2}}%</span>
    </div>
    <div class="col-xs-12 ladder-content">
        <div class="row ladder-row" style="border-top: solid rgb(224, 230, 230) 1px" ng-repeat="price in ladder.prices">
            <div class="col-xs-2 ladder-square" ng-click="ladder.cancelBuy(price)">
                <div class="ladder-text">{{ladder.getRunner().ladder[price].ordersToLay | orderFilter}}</div>
            </div>
            <div class="col-xs-2 ladder-square bf-back-color" ng-click="ladder.buy(price, ladder.orderSize)">
                <div class="ladder-text">{{ladder.getRunner().ladder[price].sizeToLay | sizeFilter}}</div>
            </div>
            <div class="col-xs-2 ladder-square"
                 ng-class="{true: 'last-price-traded'}[ladder.getRunner().lastPriceTraded == price]">
                <div class="ladder-text">{{price}}</div>
            </div>
            <div class="col-xs-2 ladder-square bf-lay-color" ng-click="ladder.sell(price, ladder.orderSize)">
                <div class="ladder-text">{{ladder.getRunner().ladder[price].sizeToBack  | sizeFilter}}</div>
            </div>
            <div class="col-xs-2 ladder-square" ng-click="ladder.cancelSell(price)">
                <div class="ladder-text">{{ladder.getRunner().ladder[price].ordersToBack | orderFilter}}</div>
            </div>
            <div class="col-xs-2 ladder-square">
                <div class="ladder-text">{{ladder.getRunner().ladder[price].tradedVolume | sizeFilter}}</div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 ladder-scroll">
        <div class="col-xs-4 entry">
            <label class="btn btn-default btn-xs btn-bid" ng-click="ladder.snapToBid()">Bid</label>
            <label class="btn btn-default btn-xs btn-offer" ng-click="ladder.snapToOffer()">Offer</label>
        </div>
        <label ng-click="ladder.scrollDown()" class="btn btn-default btn-xs col-xs-2 glyphicon glyphicon-menu-down"></label>
        <div class="col-xs-6 entry">Total Matched: {{ladder.getRunner().totalMatched}}</div>
    </div>
</div>