<div class="row event-item" ng-class="{true:'event-item-bottom-border'}[bottomBorder]">
    <div class="col-lg-6 col-xs-12 price-label" ui-sref="markets">{{description}}</div>
    <div class="col-lg-2 col-xs-3 col-lg-offset-0 col-xs-offset-3" price price-to-back="homeOdds.avToBack" price-to-lay="homeOdds.avToLay"></div>
    <div class="col-lg-2 col-xs-3" price price-to-back="drawOdds.avToBack" price-to-lay="homeOdds.avToLay"></div>
    <div class="col-lg-2 col-xs-3" price price-to-back="awayOdds.avToBack" price-to-lay="homeOdds.avToLay"></div>
</div>