<div class="row" style="border-top: solid rgb(224, 230, 230) 1px">
    <div>
        <div class="col-xs-1 bf-ladder-square">
            <div class="bf-price-font">{{data.ordersToBack}}</div>
        </div>
    </div>
    <div>
        <div class="col-xs-1 bf-ladder-square bf-back-color">
            <div class="bf-price-font">{{data.sizeToBack}}</div>
        </div>
    </div>
    <div>
        <div class="col-xs-1 bf-ladder-square">
            <div class="bf-price-font">{{data.price}}</div>
        </div>
    </div>
    <div>
        <div class="col-xs-1 bf-ladder-square bf-lay-color">
            <div class="bf-price-font">{{data.sizeToLay}}</div>
        </div>
    </div>
    <div>
        <div class="col-xs-1 bf-ladder-square">
            <div class="bf-price-font">{{data.ordersToLay}}</div>
        </div>
    </div>
</div>
