<div class="row navigation-panel">
    <div class="col-xs-12 heading">
        Time
    </div>
    <div class="col-xs-12 entry" ng-click="nav.selectGroup('Today')">Today</div>
    <div class="col-xs-12 entry" ng-click="nav.selectGroup('Tomorrow')">Tomorrow</div>
    <div class="col-xs-12 heading">
        Top Countries
    </div>
    <div ng-repeat="country in nav.topTenCountries.data track by country.id" class="col-xs-12 entry">
        <div ng-if="!country.hasGroupGrandChildren" ng-click="nav.selectGroup(country.id)">
            {{country.name}} <i class="pull-right">{{country.numberOfMarkets}}</i>
        </div>
        <uib-accordion ng-if="country.hasGroupGrandChildren" close-others="oneAtATime">
            <uib-accordion-group is-open="nav.isOpen[country.id]">
                <uib-accordion-heading>
                    &nbsp{{country.name}} <i class="pull-right">{{country.numberOfMarkets}}</i>
                </uib-accordion-heading>
                <div ng-repeat="group in country.children track by group.id" class="entry-item"
                     ng-click="nav.selectGroup(group.id)">
                     {{group.name}} <i class="pull-right">{{group.numberOfMarkets}}</i>
                </div>
            </uib-accordion-group>
        </uib-accordion>
    </div>
    <div class="col-xs-12 heading">
        Internationals
    </div>
    <div ng-repeat="international in nav.internationals.data track by international.id"
         class="col-xs-12 entry"
         ng-click="nav.selectGroup(international.id)">
        {{international.name}} <i class="pull-right">{{international.numberOfMarkets}}</i>
    </div>
    <div class="col-xs-12 heading">
        More
    </div>
    <div class="col-xs-12 entry">
        All Football <i class="pull-right">{{international.numberOfMarkets}}</i>
    </div>
</div>